<%= form_for([@task.project, @task]) do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>
      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group row mb-5">
    <div class="col"><%= f.text_field :name, class: "form-control", placeholder: "Enter task name..." %></div>
    <div class="col-6"><%= f.text_field :description, class: "form-control", placeholder: "Enter description..." %></div>
    <div class="col"><%= f.select :status, Task::STATUS_OPTIONS, {}, class: "form-select" %></div>
    <div class="col"><%= f.submit class: "btn btn-primary" %></div>
  </div>
<% end %>