<%= form_for([@task.project, @task], class: "form-inline") do |f| %>
  <% if @task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% @task.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group m-1">
    <%= f.text_field :name, class: "form-control my-1 mr-1 ml-0", placeholder: "Enter task name..." %>
    <%= f.text_field :description, class: "form-control m-1", placeholder: "Enter description..." %>
    <div class="dropdown">
      <%= f.select :status, Task::STATUS_OPTIONS, class: "m-1" %>
    </div>
    <div class="input-group-append">
      <%= f.submit class: "btn btn-primary m-1" %>
    </div>
  </div>

<% end %>
