<%= link_to "Back", projects_path, class:"btn btn-light mb-2" %>
<div class="card">
  <div class="card-header">
    <h2 class="card-tile d-flex justify-content-between mb-4">
      <span><%= @project.name %></span>
      <div>
        <%= link_to "Edit this project", edit_project_path(@project), class: "btn btn-warning" %>
        <%= link_to "Delete", @project, form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete, class: "btn btn-danger" %>
      </div>
    </h2>
    <div class="card-body">
      <h6>New Task</h6>
      <%= render 'tasks/form' %>
      <%= render @project %>
    </div>
  </div>
</div>

<hr>

<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @project.tasks.each do |task| %>
    <% if task.persisted? %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.description %></td>
        <td><%= task.status %></td>
        <td><%= task.project %></td>
        <td><%= link_to 'Show', [task.project, task] %></td>
        <td><%= link_to 'Edit', edit_project_task_path(task.project, task) %></td>
        <td><%= button_to "Delete", [task.project, task], form: { data: { turbo_confirm: "Are you sure?" } }, method: :delete %></td>
      </tr>
    <% end %>
  <% end %>
</table>

